/*布局区域*/
.fl{
    float: left;
}
.fr{
    float: right;
}
.clr{
    clear: both;
}
/*标题*/
.box_title{
    height: 40px;
    line-height: 40px;
    padding: 5px;
    border-bottom:1px solid #999999;
}
.title_txt,.module_name{
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}
.more{
    cursor: pointer;
    display: inline-block;
    padding: 0px 5px;
    color: #4f94d6;
}
/*tab选项卡*/
.div_tab ul li{
    list-style: none;
    display: inline-block;
    float: left;
    border: 1px solid #cccccc;
    padding: 0 5px;
    cursor: pointer;
}
.div_tab ul li:first-child{
    border-radius: 3px 0px 0 3px;
}
.div_tab ul li:last-child{
    border-radius: 0px 3px 3px 0;
}
.li_active{
    border: 1px solid blue;
    color: blue;
}
/*指标样式*/
.div_zb{
    display: inline;
    width: 45%;
    border: 1px solid #cccccc;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.div_zb_top{
    border-bottom: 1px  solid #cccccc;
    text-align: left;
    position: relative;
}
.div_info{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    background-image: url("../../img/analyse/Info_16px.png");
}
p.zb_txt{
    cursor: pointer;
}
.zb_txt,.zb_val{
    font-size: 16px;
    padding: 5px 0;
}
.div_zb_bottom{
    text-align: center;
}
.zb_txt{
    color: #999999;
}
.zb_val{
    font-weight: bold;
    text-indent: 10px;
}
.tb_icon_up,.tb_icon_down,.hb_icon_up,.hb_icon_down{
    display: inline-block;
    width: 14px;
    height: 18px;
    margin-top: 5px;
}
.tb_icon_up,.hb_icon_up{
    background-image: url("../../img/up_select.png");
}
.tb_icon_down,.hb_icon_down{
    background-image: url("../../img/down_select.png");
}
